.carousel{
  height: 100vh;
}

.carousel-inner{
  height: 100%;
}

.carousel-inner .first{
  background: url("https://picsum.photos/id/123/1200/600");    

}
.carousel-inner .second{
  background-color: yellow;
  background: url("https://picsum.photos/id/456/1200/600");    

}
.carousel-inner .third{  
  background: url("https://picsum.photos/id/678/1200/600");  
}  

.carousel-inner .first,
.carousel-inner .second,
.carousel-inner .third{
  color: white;
  font-size: 2rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;    
}

table{
  margin-top: 5rem;  
}
.content-card{
  background: rgb(255, 168, 37);
  backdrop-filter: blur(.5);
}